acme==2.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
APScheduler==3.10.4
async-timeout==4.0.3
attrs==20.3.0
Babel==2.9.1
bcrypt==4.2.1
bidict==0.23.1
blinker==1.9.0
cachelib==0.13.0
certbot==2.6.0
certbot-nginx==2.6.0
certifi==2024.12.14
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.4.1
chevron==0.13.1
click==8.1.7
colorama==0.4.6
ConfigArgParse==1.7
configobj==5.0.6
cryptography==36.0.1
distro==1.9.0
dnspython==2.7.0
docutils==0.16
eventlet==0.33.3
exceptiongroup==1.3.0
Flask==3.1.0
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
frozenlist==1.7.0
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.10.0
jmespath==0.10.0
josepy==1.13.0
jsonpatch==1.33
jsonpointer==2.0
jsonschema==3.2.0
langchain==0.2.1
langchain-core==0.2.5
langchain-openai==0.1.7
langchain-text-splitters==0.2.1
langsmith==0.1.147
lockfile==0.12.2
MarkupSafe==3.0.2
msgspec==0.19.0
multidict==6.6.3
netifaces==0.10.6
numpy==1.26.4
oauthlib==3.0.2
openai==1.99.2
orjson==3.11.1
packaging==23.2
parsedatetime==2.6
pip==25.2
ply==3.11
prettytable==0.7.2
prompt-toolkit==3.0.24
propcache==0.3.2
psycopg2-binary==2.9.10
pycparser==2.20
pydantic==2.11.7
pydantic_core==2.33.2
PyJWT==2.8.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.12.2
python-socketio==5.13.0
pytz==2024.1
PyYAML==5.4.1
regex==2025.7.34
release-notification==1.2
requests==2.32.3
requests-toolbelt==1.0.0
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
setuptools==59.6.0
simple-websocket==1.1.0
six==1.15.0
sniffio==1.3.1
SQLAlchemy==2.0.42
support-info==1.0
tenacity==8.5.0
tiktoken==0.10.0
tqdm==4.67.1
typing_extensions==4.14.1
typing-inspection==0.4.1
tzlocal==5.3.1
urllib3==2.3.0
uuid==1.30
wcwidth==0.2.5
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.20.1
zipp==3.23.0